[submodule "emacs-live"]
	path = emacs-live
	url = git://github.com/rothmichaels/emacs-live.git
[submodule "packs/roth-pack"]
	path = packs/roth-pack
	url = git://github.com/rothmichaels/roth-pack.git
[submodule "packs/mithrandir-theme"]
	path = packs/mithrandir-theme
	url = git://github.com/rothmichaels/mithrandir-theme.git
[submodule "packs/nemacs"]
	path = packs/nemacs
	url = https://github.com/rothmichaels/nemacs.git
[submodule "packs/scala-pack"]
	path = packs/scala-pack
	url = git://github.com/rothmichaels/scala-pack.git
[submodule "packs/swift-pack"]
	path = packs/swift-pack
	url = git://github.com/rothmichaels/swift-pack.git
