[submodule "emacs-live"]
	path = emacs-live
	url = git://github.com/rothmichaels/emacs-live.git
[submodule "packs/roth-pack"]
	path = packs/roth-pack
	url = git://github.com/rothmichaels/roth-pack.git
[submodule "packs/mithrandir-theme"]
	path = packs/mithrandir-theme
	url = git://github.com/rothmichaels/mithrandir-theme.git
